// search-bar
.search-bar {
    input {
        &:focus-within {
            &::placeholder {
                transition: all 0.1s ease-in-out;
                color: transparent;
            }

            &~div .arrow-left {
                display: block;
                animation: spin 0.2s linear;
            }

            &~div .search-btn {
                display: none;
            }
        }
    }

    .close-btn {
        visibility: hidden;
        transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s linear;
        animation: opacity 0.2s linear;
    }

    input:not(:placeholder-shown)~.close-btn {
        visibility: visible;
        animation: spin 0.2s linear;
    }

    input:not(:placeholder-shown)~div {
        .arrow-left {
            display: block;
            animation: opacity 0.2s linear;
        }

        .search-btn {
            display: none;
        }
    }
}

// chat-side-bar
.chat-side-bar {
    footer {
        .close-btn {
            visibility: hidden;
            transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s linear;
            animation: opacity 0.2s linear;
        }

        &:hover {
            .close-btn {
                visibility: visible;
                animation: spin 0.2s linear;
            }
        }
    }
}

// SendMessages
.send-messages {
    label {

        input {
            &:focus-within {
                &::placeholder {
                    transition: all 0.1s ease-in-out;
                    color: transparent;
                }
            }
        }

    }
}

// chats messages
.chats-messages {
    .messages-info {
        .messages-status {
            .status {
                transform: translateY(100%)
            }
        }

        &:hover {
            .messages-status {
                .status {
                    animation: fade_up 0.2s linear forwards;
                }

                .messages-username {
                    animation: fade_down 0.2s linear forwards;
                }
            }
        }

        &:not(:hover) {
            .messages-status {
                .status {
                    animation: fade_down 0.2s linear forwards;
                }

                .messages-username {
                    animation: fade_up 0.2s linear forwards;
                }
            }
        }
    }
}

// message
.message {
    .expand {
        background: radial-gradient(at top right, #d9fdd3 60%, #d9fdd300 80%);
        transform: translateX(100%);
        opacity: 0;
    }

    .message-chat {
        &:hover {
            .expand {
                animation: fade_in 0.05s linear forwards;
            }
        }

        &:not(:hover) {
            .expand {
                animation: fade_out 0.05s linear forwards;
            }
        }
    }
}

// keyframes
@keyframes fade_out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade_up {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}